/build/
/out/
/.gradle/
/bin/
/*.log
*.iml
.idea/
*.iws
*.ipr
.project
.settings/
.vscode/
.DS_Store
Thumbs.db
*.log
*.tmp
*.swp
*.swo
/test-results/
/reports/
.env
.env.local
/out/
/public/uploaded/
/*.db
*.class
.classpath
